* {
    margin: 20;
    padding: 20;
}

body {
    background: #E9ECF4;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-bottom: 500px;
}

footer {
    margin-top:100px;
    }
	
.text-centerr{
	justify-content: center;
}

.marginTable{
	margin-top: 50px;
}

.ui-datepicker-calendar {
    display: block;
    }

/* pagina responsive
@media screen and (max-width: 768){
    body {
        background: rgb(138, 102, 102);
    }
    
} */
